*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:url(../assets/bg.jpeg);
    font-family: Arial, sans-serif;
}

#datos{
    display:block;
    color:aliceblue;


}


section{
   
    background-color:black;

}

#adminPanel5sets th  {
    color: aliceblue;
}
#adminPanel3sets th{
    color: aliceblue;
}

#displaySets5 {
    color: aliceblue;
    display:none;
}
#displaySets3 {
    color: aliceblue;
    display:none;
}
#nomJugador1set3,
#nomJugador2set3,
#nomJugador1set5,
#nomJugador2set5
{
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    
}

#panelPuntos{
    display: none;
    margin-top: 80px;
}




#sets5 h1{
    color: aliceblue;
  
}
#sets3 h1{
    color: aliceblue;
   
}

#estadistica-P1{
    color: aliceblue;
    background-color:rgb(110, 99, 86);
    text-align: left;
    height: 150px;
    width: 250px;
 
}

#estadistica-P2{
    color: aliceblue;
    background-color:rgb(110, 99, 86);
    text-align: left;
    height: 150px;
    width: 250px;
}
.btn:active img {
    height: 200px;
    width: 250px; 
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Estilos específicos para el marcador */
#marcadorJuego-container {
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#marcadorJuego {
    width: 100%;
    max-width: 400px;
    border-collapse: collapse;
}

#marcadorJuego thead th {
    background-color: #333;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

#nomMarcador1 {
    background-color: #4caf50; /* verde */
    color: #fff;
}

#nomMarcador2 {
    background-color: #f44336; /* rojo */
    color: #fff;
}

#marcadorJuego tbody td {
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #444;
    color: #fff;
}

/* Colores de puntaje */
#marcadorJuego tbody td.bg-success {
    background-color: #4caf50;
}

#marcadorJuego tbody td.bg-danger {
    background-color: #f44336;
}

/* Centramos el título */
h5.text-center {
    font-size: 1.5em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}








