
@font-face {
  font-family: "Rye";
  src: url("../tipografia/Rye/Rye-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body{
  font-family: 'Rye';
  text-align: center;
  margin: 5%;
  background-image: url("../assets/img/cartelPelicula2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

li>a{
  position: absolute;
  top: 5%;
  right: 10%;
  text-decoration: none;
  color: gold;
  font-size: 200%;
}

h1{
  position: absolute;
  top: 20%;
  font-size: 500%;
  text-shadow: white 6px 0;
  letter-spacing: 5px;
  color: gold;
  -webkit-text-stroke: 4px black;
}

#empezarJuego{
  font-size: 200%;
  position: absolute;
  top: 40%;
  left: 5%;
}

#guiones{
  font-size: 300%;
  position: absolute;
  top: 40%;
  left: 5%;
}

#letras{
  position: absolute;
  top: 50%;
  left: 10%;
}

#ganarPerder {
  display: none;
}

#ganarPerder p{
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 300%;
  color: gold;
  -webkit-text-stroke: 2px black;
}

#ganar{
  position: absolute;
  top: 40%;
  left: 53%;
  border-radius: 22%;
}

#perder{
  position: absolute;
  top: 40%;
  left: 56%;
  border-radius: 22%;
}

.btn{
  background-color: rgba(0, 0, 0, 0.527);
  font-size: 200%;
  margin: 2px;
}

.alert{
  width: 10%;
  position: absolute;
  top: 80%;
  background-color: gold;
  color: black;
  font-size: 200%;
}

section{
  position: absolute;
  top: 120%;
  color: white;
}

section>a{
  color: white;

}
